/* ********** HERE STARTS general.css ****** */

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #060606;
	color: white;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	user-select: none !important;
	font-family: 'Roboto';
}
