#circle-mode {
	position: absolute;
	right: 10px;
	bottom: 210px;
	z-index: 100;
}

#settings {
	position: absolute;
	right: 10px;
	bottom: 160px;
	z-index: 100;
}

#search {
	position: absolute;
	right: 10px;
	bottom: 110px;
	z-index: 100;
}

#zoomin {
	position: absolute;
	right: 10px;
	bottom: 60px;
	z-index: 100;
}

#zoomout {
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 100;
}