#year-list {
	padding: 16px;
	padding-top: 0;
	position:absolute;
	right: 0;
	top: 68px;
	z-index:10;
	display:none
}

#year-list-span {
	position:relative;
	z-index:10;
}

.custom-checkbox .mdl-checkbox__box-outline {
	border: 2px solid rgba(0,0,0,.8)!important;
	background-color: white!important;
}
